<%= form_for(@maze_level) do |f| %>
  <% if @maze_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@maze_level.errors.count, "error") %> prohibited this maze_level from being saved:</h2>

      <ul>
      <% @maze_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
