<div id="blocklyDiv"></div>
<script>
    var toolbox = '<xml>';
    toolbox += '  <block type="controls_if"></block>';
    toolbox += '  <block type="controls_whileUntil"></block>';
    toolbox += '</xml>';
    var workspace = Blockly.inject('blocklyDiv', {toolbox: toolbox});
</script>


