<div id="blocklyDiv"></div>

<script>
    var toolbox = '<xml>';
    toolbox += ' <block type="move_forward" ></block>'
    toolbox += ' <block type="turn_left" ></block>';
    toolbox += ' <block type="turn_right" ></block>';
    toolbox += ' <block type="while"> </block>';
    toolbox += '</xml>';
    var workspace = Blockly.inject('blocklyDiv', {toolbox: toolbox});
</script>

<div class="col-2">.</div>
<div class="col-8">
    <input type="button" value="Run" class='runCodeBtn' onclick='runCode()' >
</div>

